* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}
.land-div {
  height: 5vh;
}
/* header */
.nav-list {
  position: fixed;
  width: 100%;
  background: #f2e8dc;
  box-shadow: 0 0 1vh 0;
  padding: 1rem;
  display: flex;
}
.nav-item {
  list-style: none;
  margin-right: 1vw;
  cursor: pointer;
  padding-right: 3vw;
}
.nav-item :hover {
  color: deepskyblue;
}
.nav-item a {
  text-decoration: none;
  color: #8c5845;
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 1vw;
  font-weight: bolder;
}

/* landing page */

.landing-main {
  font-size: 1.2rem;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-about {
  padding: 1vh;
  margin: 1vh;
}

.btnc {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  border-radius: 20%;
}

.btnc:hover {
  color: deepskyblue;
}

.landing-main img {
  height: 40%;
  width: 30%;
  border-radius: 50%;
}

/* about */
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d3c7;
}
.about-container {
  margin: 5% 10%;
  height: 85vh;
  display: grid;
  grid-template: 0.9fr 0.9fr 0.9fr / 1fr 1fr 1fr;
  grid-template-areas:
    "header img1 img2"
    "post img3 img4"
    "post img5 img6";
}

.about-header {
  grid-area: header;
  text-transform: capitalize;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 90%;
}
.about-post {
  grid-area: post;
  height: 105%;
  text-align: justify;
  text-justify: inter-word;
}
.about-post p {
  padding: 0.75rem;
}
.about-categ {
  padding: 1rem 2rem;
}
.about-post ul {
  padding: 1rem 2rem;
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.about-img {
  margin-left: 30%;
  display: block;
  width: 50%;
  height: 70%;
  object-fit: fill;
  border-radius: 20%;
}

/* exp */

#exp {
  background-color: #bfb2a3;
}

.exp-container {
  height: 100vh;
  width: 100%;
  display: flex;
}
.exp-content {
  height: 95vh;
  width: 30%;
  padding: 5% 5%;
}
.exp-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-container {
  width: 80%;
  height: 65%;
  border: dotted 0.5rem grey;
  color: grey;
  font-size: 2rem;
}

/* Contact */

#contact {
  margin: 0;
  background-color: #8c8a87;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94vh;
}
.contact-info {
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  margin-right: 3%;
}
.contact-info i {
  margin: 0.5%;
}
.contact-info,
.contact-form {
  flex: 1;
}
.contact-form {
  width: 70%;
  margin-right: 5%;
}
.contact-form h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2%;
}
.contact-form .textbox {
  border: none;
  width: 45%;
  height: 2rem;
  border-radius: 5%;
  margin-bottom: 4%;
}

.contact-form textarea {
  border: none;
  width: 91%;
  border-radius: 5%;
  margin-bottom: 2%;
}

.contact-form .send-btn {
  float: right;
  background-color: #d9d3c7;
  border: none;
  height: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  width: 5rem;
  margin-right: 10%;
  border-radius: 5%;
}

/* arrow */
.upbtn {
  position: fixed;
  width: 2vw;
  height: 3vh;
  bottom: 4.5vh;
  right: 1.5vw;
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 2vh;
  font-size: 2rem;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 15px;
    /* Landing */
  }
  .landing-main {
    font-size: 0.8rem;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-main img {
    margin: 0;
    height: 35%;
    width: 35%;
    border-radius: 50%;
  }

  /* about  */
  #about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d3c7;
  }

  .about-container {
    height: 95vh;
    display: grid;
    grid-template: 0.9fr 0.9fr 0.9fr / 1fr 1fr;
    grid-template-areas:
      "header img1 img2"
      "post img3 img4"
      "post img5 img6";
    margin-top: 20%;
  }
  .about-header {
    grid-area: header;
    text-transform: capitalize;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .about-post {
    grid-area: post;

    height: 130%;
    margin-top: 10%;
    text-align: justify;
    text-justify: inter-word;
  }

  .about-post p {
    padding: 0.25rem;
  }
  .about-categ {
    padding: 0.25rem 0.5rem;
  }
  .about-post ul {
    padding: 0.25rem 0.5rem;
  }
  .about-img {
    display: block;
    width: 60%;
    height: 50%;
    object-fit: fill;
    border-radius: 20%;
    margin-left: 40%;
  }
  .exp-content {
    height: 95vh;
    width: 30%;
    padding: 5% 5%;
    margin-top: 20%;
  }

  /* exp */

  .exp-container {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  .exp-content {
    height: 95vh;
    width: 30%;
    padding: 5% 5%;
  }
  .exp-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-container {
    width: 80%;
    height: 65%;
    border: dotted 0.5rem grey;
    color: grey;
    font-size: 1.5rem;
  }

  /* Contact */

  #contact {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
  }
  .contact-info {
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    margin-right: 3%;
  }
  .contact-info i {
    margin: 0.5%;
  }
  .contact-info,
  .contact-form {
    flex: 1;
  }
  .contact-form {
    width: 70%;
    margin-right: 5%;
  }
  .contact-form h2 {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%;
  }
  .contact-form .textbox {
    border: none;
    width: 45%;
    height: 1rem;
    border-radius: 5%;
    margin-bottom: 4%;
  }

  .contact-form textarea {
    border: none;
    width: 92%;
    border-radius: 5%;
    margin-bottom: 2%;
  }

  .contact-form .send-btn {
    float: right;
    background-color: #d9d3c7;
    border: none;
    height: 1rem;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 5rem;
    margin-right: 10%;
    border-radius: 5%;
  }
  .upbtn {
    position: fixed;
    width: 2%;
    height: 3%;
    bottom: 4%;
    right: 5%;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 2vh;
    font-size: 1.5rem;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 15px;
    /* Landing */
  }
  .landing-main {
    font-size: 0.8rem;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-main img {
    margin: 0;
    height: 35%;
    width: 35%;
    border-radius: 50%;
  }

  /* about  */
  #about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-container {
    height: 95vh;
    display: grid;
    grid-template: 0.9fr 0.9fr 0.9fr / 1fr 1fr 1fr;
    grid-template-areas:
      "header img1 img2"
      "post img3 img4"
      "post img5 img6";
    margin-top: 20%;
  }
  .about-header {
    grid-area: header;
    text-transform: capitalize;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .about-post {
    grid-area: post;

    height: 130%;
    margin-top: 10%;
    text-align: justify;
    text-justify: inter-word;
  }

  .about-post p {
    padding: 0.2rem;
  }
  .about-categ {
    padding: 0.2rem 0.3rem;
  }
  .about-post ul {
    padding: 0.2rem 0.5rem;
  }
  .about-img {
    display: block;
    width: 60%;
    height: 50%;
    object-fit: fill;
    border-radius: 20%;
    margin-left: 50%;
  }
  /*  */
  .exp-content {
    height: 95vh;
    width: 30%;
    padding: 5% 5%;
    margin-top: 20%;
  }
  /* Contact */

  #contact {
    margin: 0;
    background-color: #8c8a87;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
  }
  .contact-info {
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    margin-right: 3%;
  }
  .contact-info i {
    margin: 0.5%;
  }
  .contact-info,
  .contact-form {
    flex: 1;
  }
  .contact-form {
    width: 70%;
    margin-right: 5%;
  }
  .contact-form h2 {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%;
  }
  .contact-form .textbox {
    border: none;
    width: 45%;
    height: 1rem;
    border-radius: 5%;
    margin-bottom: 4%;
  }

  .contact-form textarea {
    border: none;
    width: 92%;
    border-radius: 5%;
    margin-bottom: 2%;
  }

  .contact-form .send-btn {
    float: right;
    background-color: #d9d3c7;
    border: none;
    height: 1rem;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 5rem;
    margin-right: 10%;
    border-radius: 5%;
  }
  .upbtn {
    position: fixed;
    width: 2%;
    height: 3%;
    bottom: 4%;
    right: 5%;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 2vh;
    font-size: 1.5rem;
  }
}
